@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background: black;
  font-size: 14px;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 600px;
  background-color: white;
}

img {
  border-bottom-width: 0;
  border: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.bg-fit-red {
  background-color: #e60113;
  box-sizing: border-box;
  border-image-width: 0 !important;
}

.bg-fit-white {
  background-color: #fff;
}

.bg-fit-red img,
.bg-fit-white img {
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}

.header-logo img {
  float: left;
  display: inline-block;
  width: 300px;
}

.empty-divider {
  min-height: 25px;
}

header#home {
  background-image: url("../img/home-hero.png");
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: 650px;
}

.hero-text img {
  max-width: 50%;
  float: right;
  margin-right: 10px;
  margin-top: 200px;
  z-index: -1;
}

.red {
  background-color: #e60113;
}

.white {
  color: white;
  text-align: justify;
}

.top-bottom-padding {
  padding: 30px 0;
}

hr {
  border: none;
  height: 1px;
  color: #f28089;
  background-color: #f28089;
  margin-top: 1px;
}

button {
  background: yellow;
  padding: 6px 25px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.news-item {
  border-top: 1px solid #f28089;
  padding: 20px 0;
  margin-bottom: 2.5rem;
}

.news-button {
  float: right;
  margin-top: 0.5rem;
}

.date {
  float: left;
  margin-top: 1.4rem;
}

.justify {
  text-align: justify;
}

#to-top {
  text-align: center;
  background: white;
  padding: 1rem 0;
}

#home-footer-items {
  background-color: black;
  padding: 20px 0 10px;
}

.home-footer-items-double img {
  display: inline-block;
  max-width: 49.45%;
  padding: 10px 0;
  text-align: center;
}

footer {
  background: #e60113;
  text-align: center;
  padding: 0.7rem 0;
  color: white;
  font-size: 11px;
}

section#service,
section#service-2 {
  background-color: #fff !important;
}

.service-card {
  text-align: center;
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: auto;
  padding: 15%;
  box-sizing: border-box;
  margin: 3px 0;
}

.service-card-1 {
  background-image: url("../img/home-service-01.png");
}

.service-card-2 {
  background-image: url("../img/home-service-02.png");
}

.service-card-3 {
  background-image: url("../img/home-service-03.png");
}

.service-card-inner {
  background: #e60113;
  padding: 10% 0;
  opacity: 0.85;
}

.service-card-inner h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 10px;
}

.service-card-inner p {
  color: white;
  padding: 5% 15%;
  font-size: 1.2rem;
}

.black-back {
  display: block;
  background-color: #200002;
  color: white;
  padding: 10px 0;
  font-size: 1rem;
}

.service-card-bottom {
  text-align: center;
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: auto;
  padding: 0 5%;
  box-sizing: border-box;
}

.service-card-red {
  background-image: url("../img/home-service-red.png");
}

.service-card-blue {
  background-image: url("../img/home-service-blue.png");
}

.service-card-bottom-inner {
  padding: 8% 0;
  margin: 5% 0;
}

.service-card-bottom-inner h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 10px;
}

.service-card-bottom-inner p {
  color: white;
  padding: 0 15%;
  font-size: 13px;
  font-weight: bold;
}

.black-back-bottom {
  display: block;
  background-color: #000;
  color: yellow;
  padding: 0;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 700;
  box-sizing: border-box;
}

.black-back-bottom-white {
  display: block;
  background-color: #000;
  color: white;
  padding: 10px 25px;
  margin-bottom: 30px;
  font-size: 1rem;
  box-sizing: border-box;
}

.black-back-bottom-span-1 {
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
  word-wrap: break-word;
  border: 1px solid yellow;
  padding: 3px 5px;
  vertical-align: middle;
  font-size: 0.6rem;
}
/* Navigation */
.header-nav {
  text-align: right;
  height: 70px;
  line-height: 70px;
}

.header-menu {
  display: none;
  float: left;
  text-align: left;
  width: 500px;
  background: #e60113;
  position: absolute;
  top: 0;
}

.header-menu a {
  display: block;
  text-decoration: none;
  color: white;
  margin-left: 20px;
  line-height: 65px;
}

label.nav-label {
  margin: 0 20px 0 0;
  font-size: 32px;
  line-height: 70px;
  /* display: none; */
  display: block;
  color: #e60113;
  width: 30px;
  float: right;
  cursor: pointer;
}

#toggle {
  display: none;
}

#toggle:checked+.header-menu {
  display: block;
}
/* Car Buy */
header#car-buy {
  background-image: url("../img/car-buy-hero.png");
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: 268px;
}

header#company {
  background-image: url("../img/company-hero.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 524px;
}
/*Company*/
section#company-message {
  padding-top: 5%;
}

.name-eng {
  text-align: right;
  padding-right: 20px;
  color: #e60113;
  font-weight: bold;
}

.company-director-name {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
  color: #464646;
  font-size: 1.2rem;
}

.name-large {
  font-size: 2.2rem;
  font-weight: 700;
  padding-left: 10px;
}

header#company-photo-grid {
  padding: 0;
  margin: 0;
}

.company-photo-grid-cards {
  text-align: center;
  color: white;
  padding: 3% 5%;
  box-sizing: border-box;
}

.company-photo-grid-cards p {
  text-align: left;
}

.company-photo-grid-cards img {
  width: 100%;
  padding-bottom: 10px;
}

section#company-about-us {
  padding-bottom: 30px;
}

table#company-about-us-table {
  width: 100%;
}

table#company-about-us-table td {
  display: block;
  padding: 10px 7%;
  color: #161616;
}

#company-about-us-table td:nth-child(odd) {
  color: #666666;
  background-color: #ebebeb;
  border-top: 1px solid #cecccc;
  border-bottom: 1px solid #cecccc;
}

.google-maps {
  border-bottom: 5px solid #e60113;
}
/* Contact us */
header#contact-us {
  background-image: url("../img/contact-us-hero.jpg");
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: 270px;
}

section.contact-us-form-area {
  padding: 70px 0;
  height: auto;
  font-size: 14px;
  line-height: 20px;
}

.form-header {
  line-height: 24px;
  padding: 0 6%;
}

.required {
  color: #e60113;
}

.contact-us-form-area form {
  margin-top: 50px;
}

.form-row {
  padding: 0;
}

.form-row > label {
  display: block;
  padding: 15px 5%;
  width: 100%;
  vertical-align: middle;
  color: #666666;
  font-size: 1rem;
  background-color: #ebebeb;
  border-top: 1px solid #cecccc;
  border-bottom: 1px solid #cecccc;
  box-sizing: border-box;
  overflow: hidden;
  margin: 25px 0;
}

.form-inputs {
  display: block;
  pading: 10px 5%;
}

.contact-form-t {
  margin-left: 5%;
}
/* .form-inputs{
  border-left: 4px solid #e60113;
  padding-left: 20px;
} */
input[type="text"] {
  height: 24px;
  margin: 0 5%;
  box-sizing: border-box;
  width: 90%;
}

input[type="radio"] {
  margin: 0 5%;
}

input[type="text"].medium {
  width: 70%;
}

input[type="text"].small {
  width: 40%;
  margin-left: 5%;
}

input[type="text"].large {
  width: 100%;
  margin: 20px 0;
}

.form-select {
  display: block;
  width: 90%;
  height: 30px;
  margin: 5%;
}

hr.contact-form-hr {
  border: none;
  height: 1px;
  color: #d9d9d9;
  background-color: #d9d9d9;
  margin: 30px;
  width: 90%;
}

.full-textarea {
  width: 90%;
  margin: 5%;
  height: 200px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  overflow: hidden;
}

hr.grey {
  border: none;
  height: 1px;
  color: #d9d9d9;
  background-color: #d9d9d9;
  margin-top: 1px;
}

.form-buttons {
  text-align: center;
}

.form-buttons button {
  background: #e60113;
  text-align: center;
  margin: 20px 5px;
  padding: 10px 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
/* Car Sale */
header#car-sale {
  background-image: url("../img/car-sale-hero.gif");
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: 268px;
}
/* Car Coating */
header#car-coating {
  background-image: url("../img/coating-hero.jpg");
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: 268px;
}
/* Q & A */
header#qa {
  background-image: url("../img/qa-hero.jpg");
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: 268px;
}
/* Car Repair */
header#repair {
  background-image: url("../img/repair-hero.jpg");
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: 268px;
}
/* Staff */
header#staff {
  background-image: url("../img/staff-hero.jpg");
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: 268px;
}
/* Customer's Voice */
header#voice {
  background-image: url("../img/voice-hero.jpg");
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: 267px;
}
/* Car Inspection (Shaken) */
header#shaken {
  background-image: url("../img/shaken-hero.jpg");
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: 267px;
}

.service-card-bottom-inner > .service-card-shaken {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 15px;
}
/* Site Map*/
header#site-map {
  background-image: url("../img/site-map-hero.jpg");
  background-size: cover;
  background-position: center;
  float: left;
  width: 100%;
  min-height: 268px;
}

nav#site-map-nav {
  margin: 3rem;
  text-transform: uppercase;
}

nav#site-map-nav a {
  color: white;
  background-color: #e60113;
  text-decoration: none;
  padding: 0 10px;
  font-size: 1.4rem;
}

nav#site-map-nav li:nth-child(even) {
  display: block;
  color: #e60113;
  padding-bottom: 1.5rem;
  font-size: 11px;
  font-weight: bold;
}

nav#site-map-nav a::before {
  padding-right: 10px;
  margin-left: -22px;
  content: "▶︎";
  color: white;
}
/* Media Query */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }

  .container {
    width: 85%;
  }

  .header-menu {
    width: 80%;
  }
}