/* Global style*/
a {
  text-decoration: none;
  color: #000;
}

a:active {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

html {
  background: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  width: 1220px;
  margin: 0 auto;
  color: #47525d;
  background: white;
}

.container {
  width: 830px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

hr {
  height: 1px;
  margin-top: 1px;
  color: #f28089;
  border: none;
  background-color: #f28089;
}

button {
  font-size: 11px;
  padding: 10px 8px;
  text-transform: uppercase;
  border: none;
  background: yellow;
}

.footer-menu {
  margin: 20px 0 20px 50px;
}

.footer-menu ul li {
  font-size: 10px;
  display: inline-block;
  width: 120px;
}

.footer-menu ul li a {
  color: #fff;
}

.footer-menu ul li::before {
  padding-right: 10px;
  content: "▶︎";
  color: white;
}

footer {
  padding: 20px 0 10px;
  color: white;
  background: #e60113;
}

#to-top {
  padding: 25px 0;
  text-align: center !important;
}

#to-top img {
  width: 200px;
}

.home-contact {
  padding: 5px 0;
  border-top: 1px solid #f28089;
}

.footer-cards {
  padding: 20px 0;
  text-align: center;
  background: black;
}

.footer-cards img {
  display: inline-block;
  height: 60px;
  margin: 0 10px;
}

.copyright {
  padding-top: 10px;
  text-align: center;
}
/* Home */
header.home {
  height: 724px;
  background: url("../img/home-hero.jpg");
}

nav.main-menu {
  font-size: 11px;
  position: absolute;
  width: 640px;
  margin-top: 15px;
  margin-left: 400px;
}

.contact-button {
  font-size: 14px;
  float: right;
  padding: 10px 20px;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background: yellow;
}

.main-menu ul li {
  display: inline-block;
  width: 118px;
}

.main-menu ul li::before {
  padding-right: 10px;
  content: "▶︎";
  color: #e60113;
}

section.news-campaign {
  height: 1582px;
  background: url("../img/home-news.jpg");
}

.news-grid {
  position: relative;
  top: 1120px;
  color: white;
}

.news-grid-row {
  border-top: 1px solid #f28089;
}

.news-grid-column-one,
.news-grid-column-three,
.news-grid-column-two {
  display: inline-block;
  padding: 15px 10px;
  vertical-align: middle;
}

.news-grid-column-two {
  width: 85px;
}

.news-grid-column-two {
  width: 600px;
}

.news-grid-column-three {
  width: 85px;
  text-align: right;
}

section.service {
  height: 868px;
  background: url("../img/home-service.jpg");
}

.services-button-array-top {
  position: absolute;
  margin-top: 388px;
}

.services-button-array-top ul li {
  display: inline-block;
  width: 405px;
  text-align: center;
}

.services-button-array-bottom {
  position: absolute;
  display: inline-block;
  margin-top: 755px;
}

.services-button-array-bottom-one {
  position: relative;
  left: 368px;
}

.services-button-array-bottom-two {
  position: relative;
  top: -33px;
  left: 784px;
}

section.car-item {
  height: 658px;
  background: url("../img/home-car-item.jpg");
}
/* Company */
header.company {
  height: 274px;
  background: url("../img/company-hero.jpg");
}

section.message {
  height: 1398px;
  background: url("../img/company-message.jpg");
}

section.about-us {
  height: 694px;
  background: url("../img/company-about-us.jpg");
}

section.action-map {
  border-bottom: 10px solid #e60113;
}

.company-message {
  font-size: 13px;
  line-height: 22px;
  position: absolute;
  width: 380px;
  margin-top: 170px;
  text-align: justify;
}

.company-message p {
  padding-bottom: 10px;
}

.director {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  color: #464646;
}

.director-name {
  font-size: 26px;
}

.director-red {
  font-size: 14px;
  font-weight: bold;
  padding-right: 20px;
  text-align: right;
  color: #e60113;
}

.company-photo-grid-1 {
  position: relative;
  top: 840px;
  display: inline-flex;
  height: auto;
  text-align: center;
}

.company-photo-grid-2 {
  position: relative;
  top: 880px;
  display: inline-flex;
  height: auto;
  text-align: center;
}

.company-photo-grid-items {
  width: 240px;
  margin: 0 20px;
  text-align: center;
  color: white;
}

.company-photo-grid-items img {
  width: 100%;
  border-radius: 5px;
}

section.about-us table {
  position: relative;
  top: 175px;
  width: 90%;
  margin: 0 auto;
}

.company-about-us-table td {
  font-size: 14px;
  padding: 15px;
  border-top: 2px solid #d9d9d9;
}

.company-about-us-table td:nth-child(odd) {
  width: 150px;
}

.company-about-us-table td:nth-child(odd)::after {
  font-size: 24px;
  font-weight: 700;
  float: right;
  content: "|";
  color: #e60113;
}

.company-about-us-table tr:last-child {
  border-bottom: 2px solid #d9d9d9;
}
/* Car Buy */
header.car-buy {
  height: 260px;
  background: url("../img/car-buy-hero.jpg");
}

section.car-buy-body {
  height: 3045px;
  background: url("../img/car-buy-body.jpg");
}
/* Contact us */
header.contact-us {
  height: 273px;
  background: url("../img/contact-us-hero.jpg");
}

section.contact-us-form-area {
  font-size: 14px;
  line-height: 20px;
  height: auto;
  padding: 70px 0;
}

.form-header {
  line-height: 24px;
  padding: 0 50px;
}

.red {
  color: #e60113;
}

.contact-us-form-area form {
  margin-top: 50px;
}

.form-row {
  padding: 30px;
  border-top: 1px solid #d9d9d9;
}

label {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.form-inputs {
  display: inline-block;
}

.form-inputs {
  padding-left: 20px;
  border-left: 4px solid #e60113;
}

input[type="text"] {
  width: 400px;
  height: 24px;
}

input[type="radio"] {
  margin: 0 10px;
}

input[type="text"].medium {
  width: 300px;
}

input[type="text"].small {
  width: 200px;
  margin-left: 10px;
}

input[type="text"].large {
  width: 100%;
  margin: 20px 0;
}

.form-select {
  width: 235px;
  height: 30px;
  margin-top: 20px;
}

hr.contact-form-hr {
  width: 540px;
  height: 1px;
  margin-top: 30px;
  color: #d9d9d9;
  border: none;
  background-color: #d9d9d9;
}

.full-textarea {
  width: 535px;
  height: 200px;
  border: 1px solid #d9d9d9;
}

hr.grey {
  height: 1px;
  margin-top: 1px;
  color: #d9d9d9;
  border: none;
  background-color: #d9d9d9;
}

.form-buttons {
  text-align: center;
}

.form-buttons button {
  font-size: 16px;
  margin: 20px 5px;
  padding: 10px 30px;
  cursor: pointer;
  text-align: center;
  color: white;
  background: #e60113;
}